<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd">
  
  <bean id="addr1" class="sample.demo.Address">
  	<property name="city" value="PUNE"></property>
  	<property name="pincode" value="411011"></property>
  </bean>
  
  <bean id="addr2" class="sample.demo.Address">
  	<property name="city" value="NASHIK"></property>
  	<property name="pincode" value="422004"></property>
  </bean>
  
  <bean id="p1" class="sample.demo.Person"> 
  	<property name="name" value="Arpan"></property>
  	<property name="contactNo" value="7676789090"></property>
  	<property name="address" ref="addr2"></property>
  </bean>
  
  <!-- <bean id="p2" class="sample.demo.Person" scope="prototype"> -->
  <bean id="p2" class="sample.demo.Person" scope="singleton"> <!-- default -->
  	<property name="name" value="Arjun"></property>
  	<property name="contactNo">
  		<list>
			<value>9834763248</value>
			<value>9834623764</value>  		
  		</list>
  	</property>
  	<property name="address" ref="addr1"></property>
  </bean>
  
  <bean id="p3" class="sample.demo.Person" scope="singleton"> <!-- default -->
  	<constructor-arg name="name" value="Ritvik"> </constructor-arg>
  	<constructor-arg name="contactNo" value="9635718237"> </constructor-arg>
  	<constructor-arg name="address" ref="addr2"> </constructor-arg>
  </bean>
  
  <bean id="dept" class="sample.demo.Department">
  	<property name="deptNo" value="10"></property>
  	<property name="deptName" value="IT"></property>  	
  </bean>
  
  <bean id="e1" class="sample.demo.Employee" autowire="byName">
  	<property name="empId" value="101"></property>
  	<property name="empName" value="Arpan"></property>
  	<property name="salary" value="50000.00"></property>	
  </bean>
  
</beans>